#lichess-arc {
  padding: 5px;
  border-radius: 2px;
  background-color: #759900;
  color: #fff;
  cursor: pointer;
}

.timeTable {

    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 2px;
    padding: 1px;
    border-radius: 2px;
    background-color: #545454;
    color: #fff;
    cursor: pointer;

}

.unclickedElement {

    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 2px;
    padding: 2px;
    border-radius: 2px;
    background-color: #2f304d;
    color: #dbdbdb;
    cursor: pointer;

}

.clickedElement {

    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 2px;
    padding: 2px;
    border-radius: 2px;
    background-color: #8c8c8c;
    color: #dbdbdb;
    cursor: pointer;

}

#parentTable {
    width: 100%;
}

#dropBtnId {

    width: 100%;
    background-color: #000080;
    border: none;
    padding: 5px;
    color: #fff;
    border-radius: 2px;

}
